<div>
    <h1>{{h1}}</h1>
</div>
<div>
    <h2>Usuario:{{username}}</h2>
     {{#each carrito}}
    <div >
       <span>Producto:{{this.producto.title}}</span>
       <span>Precio:${{this.producto.price}}</span>
       <span>Cantidad:{{this.cantidad}}</span>
    </div>
    {{/each}}
</div>

